@font-face {
	font-family: 'Inter';
	src: url('./fonts/static/Inter-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Inter';
	src: url('./fonts/static/Inter-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Inter';
	src: url('./fonts/static/Inter-ExtraBold.ttf');
	font-weight: 800;
}

$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);

$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

* {
	font-family: 'Inter', sans-serif;
}

body {
	height: 100dvh;
	background-color: $off-white;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.menu {
	&--mobile {
		position: absolute;
		left: 100%;
		top: 0;
		height: 100%;
	}
}

.content {
	padding: 1rem;
	&-hero {
		display: grid;
		gap: 1rem;
		grid-template-columns: 1fr;
		img {
			width: 100%;
			&.desktop-only {
				@media screen and (max-width: 450px) {
					display: none;
				}
			}
			&.mobile-only {
				@media screen and (min-width: 450px) {
					display: none;
				}
			}
		}
		&__title {
			font-size: 2rem;
			font-weight: 800;
			color: $very-dark-blue;
		}
		&__description {
			color: $dark-grayish-blue;
			font-size: 1rem;
			line-height: 1.5rem;
		}
		&__more-link {
			background-color: $soft-red;
			color: $off-white;
			text-transform: uppercase;
			letter-spacing: 0.2rem;
			padding: 0.75rem 1.5rem;
			text-decoration: none;
			justify-self: start;
			&:visited {
				color: $off-white;
			}
		}
	}
	&-new {
		background-color: $very-dark-blue;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		&__title {
			color: $soft-orange;
			font-size: 2rem;
			font-weight: 700;
		}
		&__article {
		}
	}
}
